* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 20px; */
}

header {
    /*background-color: #add8e6;*/
    padding-top: 1rem;
    padding-bottom: 4px;
}

header nav {
    margin-bottom: 1rem;
}

header nav .container {
    display: flex;
}

.titolo {
    /*background-color: #228b22;*/
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 2rem;
    margin-bottom: 140px;
    margin-top: 30px;
    font-size: 40px;
    
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    /*background-color: #add8e6;*/
}

.secondari {
    max-width: 1000px;
    margin-top: 80px;

}

.sheet .container {     /*qui ci va il primo conteiner grosso*/
    max-width: 680px;
    /*border: 1px dashed black;*/
    min-height: 300px;
    background-color: #ee82ee;
}


.bg-yellow {
    /*background-color: #daa520;*/
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}



.bg-grey {
    background-color: #d3d3d3;
}

.nav-links,
.nav-logo,
.nav-login {
    padding: 0.5rem;
}

.nav-logo,
.nav-login {
    min-width: 150px;
}

.nav-links {
    flex-grow: 1;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    display: inline-block;
    padding: 0 0.3rem;
    text-decoration: none;
    color: black;
}

.nav-login {
    text-align: right;
}

.sheet {
    background-color: #00008b;
    padding: 2rem 0;
}

.img-principale {
    width: 1000px;
    height: 650px;
}

.sfondo {
    background-color: #add8e6;
}
.row {
    display: flex;
}

.col-large,
.col-small {
    min-height: 300px;
}

.col-large {
    width: 75%;
    height: 560px;
    /*background-color: #1e90ff;*/
    
}

.col-small {
    width: 25%;
    /*background-color: #ffc0cb;*/
}

.box-green {
    border: 1px dashed black;
    min-height: 500px;
    background-color: #228b22;
}
section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    padding-top: 6px;
}

.col {
    /*border: solid black 1px;*/
}

footer .col {
    border: 1px dashed white;
    flex-grow: 1;
    min-height: 300px;
}

footer .col-large {
    width: 15%;
    background-color: #f08080;
}

footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.secondary-footer {
    background-color: #7fffd4;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo,
.footer-btn {
    padding: 0.5rem;
    background-color: #FFB6C1;
}

.prova-gratutita {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #3838c2;
    width: 12rem;
    height: 2.2rem;
    color: white;
    border: none;
    

}

.annula {
    text-decoration: none;
    color: black;
}






/*aggiumgere padding soprattutto per la lista , almeno i pallini sono interni al foglio e non esterni 
,poi aggiungere del margin per distanziare le parole luna dalle altre , 
, trovare il modo di sistemare la foto che e strecciata 
,poi */