:root {
    --color-primary: #0061ff;
    --color-primary-hover: #4286f3;
    --color-primary-light: #b4d0e7;
    --color-dark: #000000;
    --color-border: #d0d0d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding-bottom: 100px;
    padding-top: 100px;
}

.nav-links,
.nav-logo,
.nav-login {
    padding: 0.5rem;
}

.nav-logo,
.nav-login {
    min-width: 150px;
}

.nav-links {
    flex-grow: 1;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    display: inline-block;
    padding: 0 0.3rem;
    text-decoration: none;
    color: black;
}

.nav-login {
    text-align: right;
}

.bg-yellow {
    /*background-color: #daa520;*/
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

#uno {
    background-color: var(--color-primary-light);
    padding-bottom: 0;
}

#uno .col:nth-child(1) {
    flex-basis: 40%;
    padding: 0rem 1rem 0;
}

#uno .col:nth-child(2) {
    flex-basis: 60%;
    display: flex;
    align-items: flex-end;
}

#uno .jumbo-img {
    width: 100%;
    height: calc(100% + 40px);
    max-height: 300px;
    margin-bottom: -40px;
    position: relative;
    bottom: 0;
    object-fit: contain;
    object-position: bottom;
}

h1 {
    font-size: 4rem;
}

.container {
    /* non capisco proprio cosa non va */
    width: 100%;
    max-width: 920px;
    min-height: 100px;
    margin: auto;
}

.container-xl {
    max-width: 1200px;
}

.section-title {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
}

.btn {
    padding: 0.7rem 1rem;
    border: 0;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.gap-2 {
    gap: 2rem;
}

.card {
    border: 1px solid var(--color-border);
    height: 100%;
}

.card-titolo {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
}

.card-body {
    padding: 1rem;
}

.full-width {
    flex-basis: 100%;
}

footer {
    
}

.col-large,
.col-small {
    border: 1px dashed black;
    min-height: 300px;
}

.col-large {
    width: 70%;
    background-color: var(--color-primary-hover);
}

.col-small {
    width: 30%;
    background-color: var(--color-primary);
}

.col-small .partner {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jumbo-img {
    width: 100%;
    object-fit:
}



/*aggiumgere padding soprattutto per la lista , almeno i pallini sono interni al foglio e non esterni 
,poi aggiungere del margin per distanziare le parole luna dalle altre , 
, trovare il modo di sistemare la foto che e strecciata 
,poi */   /* non mollare MIRACCOMANDO*/