:root {
    --color-primary: #0061ff;
    --color-primary-hover: #4286f3;
    --color-primary-light: #b4d0e7;
    --color-dark: #000000;
    --color-border: #d0d0d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding-bottom: 100px;
    padding-top: 100px;
}

.nav-links,
.nav-logo,
.nav-login {
    padding: 0.5rem;
}

.nav-logo,
.nav-login {
    min-width: 150px;
}

.nav-links {
    flex-grow: 1;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    display: inline-block;
    padding: 0 0.3rem;
    text-decoration: none;
    color: black;
}

.nav-login {
    text-align: right;
}

.bg-yellow {
    /*background-color: #daa520;*/
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

#uno {
    background-color: var(--color-primary-light);
    padding-bottom: 0;
}

#uno .col:nth-child(1) {
    flex-basis: 40%;
    padding: 0rem 1rem 0;
}

#uno .col:nth-child(2) {
    flex-basis: 60%;
    display: flex;
    align-items: flex-end;
}

#uno .jumbo-img {
    width: 100%;
    height: calc(100% + 40px);
    max-height: 300px;
    margin-bottom: -40px;
    bottom: 0;
    object-fit: contain;
    object-position: bottom;
}

h1 {
    font-size: 4rem;
}

.container {
    /* non capisco proprio cosa non va */
    width: 100%;
    max-width: 920px;
    min-height: 100px;
    margin: auto;
}

.container-xl {
    max-width: 1200px;
}

.section-title {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
}

.btn {
    padding: 0.7rem 1rem;
    border: 0;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.jumbo-img {
    width: 100%;
}

.gap-2 {
    gap: 2rem;
}

.card {
    border: 1px solid var(--color-border);
    height: 100%;
}

.card-titolo {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
}

.card-body {
    padding: 1rem;
}

.card-body p {
    padding: 1rem 0;
}
.card.heard {
    border-bottom: 1px solid var(--color-border);
}
.full-width {
    flex-basis: 100%;
}
.box-4 {
    background-color: #1e90ff;
}
.container-2 {
    width: 100%;
    max-width: 920px;
    min-height: 100px;
    margin: auto;
    display: flex;
}
.row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.l-large,
.col-small {
    min-height: 300px;
}

.col-large {
    background-color: #1e90ff;
    flex-grow: 2;

}

.col-small {
    background-color: #ffc0cb;
    flex-grow: 1;

}

.ciao {
    width: 100%;
}

.sopra {
    max-width: 250px;
    display: flex;
    max-height: 280px;
}



/* da qui parte e quadrati stronzi */



.squares-container {
    display: flex;
    position: relative;

}

.box-container {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.box-container .box {
    width: 50%;
    /* Non abbiamo bisogno di height perchè il padre in flex,
    ha di default align-items: stretch, quindi i figli, su allungano
    in verticale automaticamente. */
    /* min-height: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 218, 105);
    border: 6px solid transparent;
}

.box-container .box:hover {
    border-color: rgb(88, 166, 97);
  }
  
  .box-container .box:hover .box-content {
    display: block;
  }
  
  .box-container .box svg {
    width: 50%;
    height: auto;
    color: white;
  }
  
  .box-content {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% / 3);
    width: calc(100% / 3);
    height: 100%;
    background-color: grey;
    overflow: auto;
}


/* qui finiscono i quadrati stronzi */

.shet {
    background-color: #0061ff;
}



.foote {
    padding-top: 0%;

    width: 100%;
    max-width: 920px;
    min-height: 150px;
    display: flex;

}

.domande {
    width: 100%;
    min-height: 150px;
    display: flex;
    padding: 0.5rem ;
}




.ult-footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}









/*aggiumgere padding soprattutto per la lista , almeno i pallini sono interni al foglio e non esterni 
,poi aggiungere del margin per distanziare le parole luna dalle altre , 
, trovare il modo di sistemare la foto che e strecciata 
,poi */ 